<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Adam Barr</title>
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!-- styles -->
        <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
        <link href="stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">

    </head>
    
    <body>
        <%- body %>
    </body>

    <footer>
        <script src="javascripts/bootstrap.min.js"></script> 
    </footer>
</html>
